.DS_Store
backend/.cache/
backend/.server.pid
backend/.server.log
android/.gradle/
android/local.properties
android/**/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

